In [1]:
import pandas as pd
budget = pd.read_csv('budget_data.csv')
print(budget)

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [2]:
print(f"number of months = {len(budget)}")
months = len(budget)

number of months = 86

In [3]:
net = 0
for index, row in budget.iterrows():
    net = net + row['Profit/Losses']
print(net)

22564198

In [4]:
budget['net']=budget['Profit/Losses'].diff()
budget

      Date  Profit/Losses        net
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [5]:
print(round(budget['net'].mean(), 2))
mean_net = round(budget['net'].mean(), 2)

-8311.11

In [14]:
maximum = budget['net'].max()
for index, row in budget.iterrows():
    if row['net']==maximum:
        #print(row['Date'], row['net'])
        max_date, max_net = row['Date'], row['net']
max_net=int(max_net)

In [15]:
minimum = budget['net'].min()
for index, row in budget.iterrows():
    if row['net']==minimum:
        print(row['Date'], row['net'])
        min_date, min_net = row['Date'], row['net']
min_net = int(min_net)

Feb-14 -1825558.0

In [17]:
print("Financial Analysis \n---------------------------- \n")
print("Total Months: "+ str(months))
print("\nTotal: $"+str(net))
print("\nAverage Change: $"+str(mean_net))
print(f"\nGreatest Increase in Profits: {max_date} (${max_net})")
print(f"\nGreatest Decrease in Profits: {min_date} (${min_net})")

Financial Analysis
----------------------------

Total Months: 86

Total: $22564198

Average Change: $-8311.11

Greatest Increase in Profits: Aug-16 ($1862002)

Greatest Decrease in Profits: Feb-14 ($-1825558)