In [1]:
import pandas as pd
election = pd.read_csv('election_data.csv')
print(election)

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [3]:
Total_votes = len(election)
Total_votes

369711

In [5]:
list=election['Candidate'].value_counts().rename_axis('Candidate').to_frame('counts')

In [6]:
list

                         counts
Candidate
Diana DeGette            272892
Charles Casper Stockham   85213
Raymon Anthony Doane      11606

In [8]:
list['percentage']=round(list['counts']/Total_votes*100,3)
list

                         counts  percentage
Candidate
Diana DeGette            272892      73.812
Charles Casper Stockham   85213      23.049
Raymon Anthony Doane      11606       3.139

In [9]:
list=list.sort_values('Candidate')
list

                         counts  percentage
Candidate
Charles Casper Stockham   85213      23.049
Diana DeGette            272892      73.812
Raymon Anthony Doane      11606       3.139

In [14]:
list.index[0]

'Charles Casper Stockham'

In [17]:
maximum = list['counts'].max()
for index, row in list.iterrows():
    if row['counts']==maximum:
        max_name = index
max_name

'Diana DeGette'

In [20]:
print("Election Results \n---------------------------- \n")
print("Total Votes: "+ str(Total_votes))
print("\n----------------------------")
for index, row in list.iterrows():
    print(f"\n{index}: {row['percentage']}% ({int(row['counts'])})")
    print("\n----------------------------")
print("\nWinner: "+max_name)
print("\n----------------------------")

Election Results
----------------------------

Total Votes: 369711

----------------------------

Charles Casper Stockham: 23.049% (85213)

----------------------------

Diana DeGette: 73.812% (272892)

----------------------------

Raymon Anthony Doane: 3.139% (11606)

----------------------------

Winner: Diana DeGette

----------------------------